/*
   Author:    	 Stuart Ketcham
   Filename:    final_project.css
   Date:        10/30/2020
   Project:     Eastside Cheese Company
*/


/* reset styles */
html {
   font-size: 16px;
}
a, article, body, div, footer, header, h1, h2, h3, nav, p, img, figure, figcaption {
   border: 0;
   padding: 0;
   margin: 0;
}

body {
  background-color: #505050;
}

.main {
   max-width: 1150px;
   margin: 0 auto;
   position: relative;
   background-color: #FFFFFF;
}

h1 {
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 500;
   font-size: 2.2em;
}

h2 {
   text-align: center;
   padding: 10px 0 0;
   font-weight: 100;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  text-align: center;
}

.item1 {
  grid-area: 1 / 1 / 1 / 3;
  padding: 50px;
}

.item2 {
  grid-area: 2 / 1 / 2 / 3;
}

.item3 {
  grid-area: 3 / 1 / 3 / 3;
}

.item4, .item5, .item6, .item7, .item8, .item9, .item10  {
   padding: 10px;
}

.item4, .item5 {
   padding: 50px 0 30px 0;
}

.aboutme {
   font-family: 'PT Sans', sans-serif;
   line-height: 2;
   text-align: left;
}

.aboutme p {
   padding: 15px 40px 0;
}

.imgMyself {
   border-radius: 50%;
   width: 70%;
   margin: 20px;
}

/* site navigation bar */
nav.sitenavigation {
   color: green;
   text-align: center;
   font-family: 'PT Sans', sans-serif;
   font-weight: 700;
   background-color: #0C80A1;
   height: 40px;
}
nav.sitenavigation p {
   margin: 0.3em 0.5em;
   display: inline-block;
}
nav.sitenavigation div {
   padding: 0.3em 0.5em;
   display: inline-block;
}
nav.sitenavigation a:link {
   text-decoration: none;
   color: white;
}
nav.sitenavigation div:hover, nav.sitenavigation a:focus {
   background-color: #085a72;
   transition: all .2s linear;
}
nav.sitenavigation a:visited {
   color: white;
}

.currentpage {
    background-color: #085a72;
}

/* Main content */
.headerimage {
   width: 100%;
}

.imgSellMyself {
   height: 270px;
}

figcaption {
   font-size: 0.8em;
   text-align: center;
}

.icantext {
   font-family: 'PT Sans', sans-serif;
   font-size: 1.2em;
   padding-top: 20px;
}

.icanheader {
   font-family: 'Times New Roman', serif;
   text-align: center;
   font-size: 1.7em;
}

.contactme {
   display: flex;
   line-height: 4;
   unicode-bidi:bidi-override;
   direction: rtl;
   justify-content: center;
}

.linked img {
   width:10%;
}


/* footer section */
footer {
   padding: 50px 0;
}

footer img {
   width:100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
